* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#loginSite {
    background-image: linear-gradient(to right, rgb(252, 179, 75), rgb(255, 255, 255), rgb(252, 179, 75));

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}

/* #logo {
    font-size: 42px;
    padding-top: 150px;
} */

header {
    color: rgb(252, 179, 75);
    font-size: 22px;
    padding-top: 150px;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 300px;
    padding-top: 100px;
    box-sizing: border-box;
}

#login h2 {
    font-weight: 100;
    font-size: 26px;
    padding-bottom: 10px;
}

#inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 300px;
}

.inputs,
#password {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}

#inputPassword {
    display: flex;
    gap: 5px;
    width: 300px;
    box-sizing: border-box;
}

.loginButtons {
    background-color: rgb(252, 179, 75);
    border-radius: 5px;
    padding: 5px 10px;

    font-weight: bolder;
}

#registerButton {
    width: 250px;
}

#registerUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding-top: 150px;
}

#back {
    margin-top: 135px;
    box-sizing: border-box;
}

#sites {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    background-color: white;
}

#logotype {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    padding: 0;
    height: 10%;
}

#titleH2 {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 7%;
}

#chooseGame {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    height: 63%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    padding: 0 50px;
}

.buttons {
    width: 200px;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;

    background-color: plum;
}

#easy {
    background-color: greenyellow;
}

#medium {
    background-color: yellow;
}

#hard {
    background-color: red;
}

#playNow {
    background-color: rgb(252, 179, 75);
}

#footerContainer {
    width: 100%;
    height: 20%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(252, 179, 75));
}

#footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding: 0 200px;
}

#logOutButton {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#myScoreBoard {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#myLevel,
#myPoints {
    display: flex;
    gap: 5px;
}

#topPlayButton {
    background-color: greenyellow;
    height: 50px;
    width: 150px;
    border-radius: 5px;

    font-weight: bolder;
    font-size: 18px;
}


#list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: scroll;
    padding: 0 75px;
    width: 750px;

    background-color: rgb(252, 179, 75);
    border: 20px solid rgb(252, 179, 75);
    border-radius: 5px;
    box-sizing: border-box;
}

.user {
    background-color: white;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.rankingUser {
    display: flex;
    gap: 50px;
}

#gameFooter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameButton {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: greenyellow;
    height: 50px;
    width: 150px;
    border-radius: 5px;

    font-weight: bolder;
    font-size: 18px;
}

.selected {
    border: 3px solid blue;
}

#gamePlan {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

.memoryCard {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-image: url(img/backside.png);
    background-color: rgb(252, 179, 75);
    cursor: pointer;
    background-size: cover;
}